@layout('layouts/layout')

@section('body')
  <div class="container mt-4" style="max-width: 500px">
    @include('layouts/messages')
    <div class="mb-3">
      <h1><i class="fa fa-check me-3"></i> Password rest email sent!</h1>
      <p>
        To continue please check your email inbox and click on "change password" button.<br>
        Your Password rest link will expire <b>until 10 minutes</b>.
      </p>
    </div>
  </div>
@end
