<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Verify Your Email</title>
  <style>
    .container {
      background-color: floralwhite;
      padding: 20px;
      max-width: 400px ;
      margin-right: auto;
      margin-left: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
    }
    .btn {
      padding: 10px 17px;
      border: 1px solid darkblue;
      background-color: lightblue;
      color: black;
      outline: none;
      text-decoration: none;
      border-radius: 50px;
      display: inline-block
    }
    .btn:hover {
      background-color: darkblue;
      color: white
    }
    p,h1,h2,h3,h4,h5,h6 {
      margin: 0 0 8px 0
    }
    hr {
      margin: 20px 0
    }
  </style>
</head>
<body>
  <div class="container">
    <p>From {{ appName }};</p>
    <p>To {{ User.email }};</p>
    <hr>
    <h3 style="margin-bottom: 16px">Welcome to {{ appName }} app!</h3>
    <p>Hey dear {{ User.firstName }}, your account has successfuly created, you can verify your account by clicking link below.</p>
    <p style="margin-bottom: 20px">If this email was not sent by you, dont worry about it and just ignore it.</p>
    <a class="btn" href="{{ appURL('/verify/'+User.email+'/'+User.verify_code) }}">Verify Your Account</a>
    <p class="mt-3">if button not working please visit the following link</p>
    <p><small><code><a href="{{ appURL('/verify/'+User.email+'/'+User.verify_code) }}">{{ appURL('/verify/'+User.email+'/'+User.verify_code) }}</a></code></small></p>
  </div>
</body>
</html>
