@include('layouts/scripts')
<div class="bg-secondary text-white">
  <div class="text-center pt-1 pb-1">
    <small>
      &copy; 2022 by <a style="color: inherit" href="{{ appURL('') }}">Video manager</a>
    </small>
  </div>
</div>
